h1{
    text-align: center;
}

#games{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

body{
    background-image: url("https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL2ZyZWUtZ2FtZXMtbWFrZS1tb25leS0xLmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MjkwfSwidG9Gb3JtYXQiOiJhdmlmIn19");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

#img{
    height: 100px;
    width: 100px;
}

#game1{
    padding: 0%;
}