body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #38a34c;
  }
  
  .filter {
    text-align: center;
    margin: 20px 0;
  }
  
  .filter-btn {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #070606;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .filter-btn:hover {
    background-color: #555;
  }
  

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .gallery-item {
    position: relative;
    overflow: hidden;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }
  
  